# --- Python Specific ---
__pycache__/
core/db/__pycache__/
core/db/interfaces/__pycache__/
core/db/mongodb/__pycache__/
core/logic/__pycache__/
*.pyc
.venv/
core/.venv/
core/venv/

# --- JavaScript / Bot Specific ---
bot/dist/
node_modules/
bot/node_modules/

# --- App / Secrets ---
.env
*.log

# --- Project Specific ---
.vscode/